.edit-wrap {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    .font-awesome-size {
        width: 16px;
    }
    
    .edit-col {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .edit-btn {
        border-radius: 0px;
    }
}
